{% extends "base.html.twig" %}

{% block title %}
    {{ article.title }}
{% endblock %}



{% block main %}


    <div class="container text-center mt-5 btn-primary">

        <h1 class="col-12">{{ article.title }}</h1>
        <div class="row align-items-center justify-content-around mt-5 p-4">
            <p class="col-4">{{ article.content }}</p>
            <div class="col-6"><img src="{{ article.image }}" alt="{{ article.title }}" class="img-fluid"></div>

        </div>
    </div>

{% endblock %}


