{% extends "base.html.twig" %}
{% block title %}
    formulaire article
{% endblock %}
{% block main %}
    <div class="container">
        <h2 class="mt-4 text-center">Creation d article</h2>

        {#
        j utilise la fonction de twig FORM pour afficher mon formulaire
        et le nom de ma variable(formarticle) en parametre

        #}

        {{ form_start(formarticle) }}
        {{ form_errors(formarticle) }}

        <div class="row justify-content-center mt-4">
            <div class="col-3 text-center ">{{ form_label(formarticle.category) }}</div>
            <div class="col-3  ">{{ form_widget(formarticle.category) }}</div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-3 text-center">{{ form_label(formarticle.title) }}</div>
            <div class="col-3  text-center">{{ form_widget(formarticle.title) }}</div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-3 text-center">{{ form_label(formarticle.image) }}</div>
            <div class="col-3  text-center">{{ form_widget(formarticle.image) }}</div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-3 text-center">{{ form_label(formarticle.creationDate) }}</div>
            <div class="col-3  text-center">{{ form_widget(formarticle.creationDate) }}</div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-3 text-center">{{ form_label(formarticle.publicationDate) }}</div>
            <div class="col-3  text-center">{{ form_widget(formarticle.publicationDate) }}</div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-3 text-center">{{ form_label(formarticle.content) }}</div>
            <div class="col-3 text-center">{{ form_widget(formarticle.content) }}</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-3 ">{{ form_label(formarticle.isPublished) }}</div>
            <div class="col-3  ">{{ form_widget(formarticle.isPublished) }}</div>
        </div>

        <div class="row justify-content-center">

            <div class="col-3  text-center">{{ form_widget(formarticle.valider) }}</div>
        </div>

        {{ form_rest(formarticle)}}


        {{ form_end(formarticle) }}
    </div>
{% endblock %}